* {
	margin: 0;
	padding: 0;
	//font-size: 0.9em;
}
textarea {
	border-color: grey;
	border-radius: 1em;
	height: 300px;
	margin: 50px 30px;
	outline: none;
	width: 400px;
	padding: 15px;
}
.wraper {
	height: 500px;
	text-align: center;	
}
button {
	margin: 0px 5px;
	display: inline-block;
	background-color: red;
	color: white;
	border-color: white;
	height: 50px;
	width: 200px;
	border-radius: 0.8em;
	text-transform: uppercase; 
	
	
}
.result {
	text-align: center;
	margin: 0 auto;
}
.result textarea {
	width: 400px;
}
#clearButton {
	 position: fixed;
	top: 570px;
	left: 85%; 
}
